@import "./DateTimeInput.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-duration-picker-root {
	height: 100%;
}

.ui5-duration-picker-input-icon-button {
	border-left: 0.0625rem solid transparent;
}

.ui5-duration-picker-input-icon-button:hover {
	cursor: pointer;
	border-left: var(--_ui5_time_picker_border);
	background: var(--sapButton_Hover_Background);
}

.ui5-duration-picker-input-icon-button:active {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}

.ui5-duration-picker-input-icon-button[pressed] {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}