:host([readonly]) {
	border-color: var(--sapField_ReadOnly_BorderColor);
	background: var(--sapField_ReadOnly_Background);
}

:host([disabled]) {
	opacity: var(--_ui5_input_disabled_opacity);
	cursor: default;
	pointer-events: none;
	background: var(--sapField_ReadOnly_Background);
	border-color: var(--sapField_ReadOnly_BorderColor);
}

:host([focused]) {
	outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	outline-offset: -3px;
}

:host([value-state]:not([value-state="None"])[focused]) {
	outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	outline-offset: -4px;
}

:host(:not([value-state]):not([readonly]):hover) {
	background-color: var(--sapField_Hover_Background);
	border: 1px solid var(--sapField_Hover_BorderColor);
}

:host([value-state="None"]:not([readonly]):hover) {
	background-color: var(--sapField_Hover_Background);
	border: 1px solid var(--sapField_Hover_BorderColor);
}

:host([value-state]:not([value-state="None"])) {
	border-width: var(--_ui5_input_state_border_width);
}

:host([value-state="Error"]:not([readonly])) {
	background-color: var(--sapField_InvalidBackground);
	border-color: var(--sapField_InvalidColor);
}

:host([value-state="Warning"]:not([readonly])) {
	background-color: var(--sapField_WarningBackground);
	border-color: var(--sapField_WarningColor);
}

:host([value-state="Success"]:not([readonly])) {
	background-color: var(--sapField_SuccessBackground);
	border-color: var(--sapField_SuccessColor);
	border-width: 1px;
}

:host([value-state="Information"]:not([readonly])) {
	background-color: var(--sapField_InformationBackground);
	border-color: var(--sapField_InformationColor);
	border-width: var(--_ui5-input-information_border_width);
}

:host([value-state="Error"]:not([readonly]):not([disabled])),
:host([value-state="Warning"]:not([readonly]):not([disabled])),
:host([value-state="Information"]:not([readonly]):not([disabled])) {
	border-style: var(--_ui5_input_error_warning_border_style);
}